{% extends 'base/entrada.html' %}

{% load staticfiles %}

{% block title %}Introduzca la nueva contraseña{% endblock %}

{% block content %}
<form class="login100-form validate-form" method="post">
	{% csrf_token %}
	<div class="login100-form-avatar">
		<img src="{% static 'img/sistema/icon_medicina.ico' %}" alt="logo">
	</div>
	<span class="login100-form-title p-t-20 p-b-30">
		eClinical
	</span>
    <div class="text-center w-full p-b-10">
	  <h3 style="color: white">Establecer una nueva contraseña</h3>
	</div>
	<!-- Errores -->
	{% if form.errors %}
	<div class="text-center w-full p-b-10" style="color: #df0024;">
	  {{ form.errors }}
	</div>
    {% endif %}
	<!-- Contraseña -->
	<div class="wrap-input100 validate-input m-b-10" data-validate = "Contraseña es requerida">
		<input class="input100" type="password" name="new_password1" id="id_new_password1" placeholder="Contraseña nueva">
		<span class="focus-input100"></span>
		<span class="symbol-input100">
			<i class="fa fa-lock"></i>
		</span>
	</div>
	<!-- Confirmación de contraseña -->
	<div class="wrap-input100 validate-input m-b-10" data-validate = "Confirmación de contraseña es requerida">
		<input class="input100" type="password" name="new_password2" id="id_new_password2" placeholder="Confirmación de contraseña nueva">
		<span class="focus-input100"></span>
		<span class="symbol-input100">
			<i class="fa fa-lock"></i>
		</span>
	</div>

	<div class="container-login100-form-btn p-t-10 p-b-70">
		<button type="submit" class="login100-form-btn">
			Cambiar mi contraseña
		</button>
	</div>

	<div class="text-center w-full" style="color: white;">
		Copyleft <span class="copyleft">&copy;</span> 2018 &nbsp;&#8226;&nbsp; eClinical
	</div>
</form>
<div>
</div>
{% endblock %}