{% extends 'base/entrada.html' %}

{% load staticfiles %}

{% block title %}Reinicialización de contraseña completada{% endblock %}

{% block content %}
<form class="login100-form validate-form">
	<div class="login100-form-avatar">
		<img src="{% static 'img/sistema/icon_medicina.ico' %}" alt="logo">
	</div>
	<span class="login100-form-title p-t-20 p-b-30">
		eClinical
	</span>
    <div class="text-center w-full p-b-10">
	  <h3 style="color: white">Reinicialización de contraseña completada</h3>
	  <p style="color: black">Se le ha enviado su contraseña. Ahora puede continuar e ingresar.</p>
	</div>

	<div class="container-login100-form-btn p-t-10 p-b-150">
		<a href="{% url 'login' %}" class="login100-form-btn">Identificarse</a>
	</div>

	<div class="text-center w-full" style="color: white;">
		Copyleft <span class="copyleft">&copy;</span> 2018 &nbsp;&#8226;&nbsp; eClinical
	</div>
</form>
<div>
</div>
{% endblock %}