{% extends 'base/entrada.html' %}

{% load staticfiles %}

{% block title %}Restablecimiento de contraseña enviado{% endblock %}

{% block content %}
<form class="login100-form validate-form">
	<div class="login100-form-avatar">
		<img src="{% static 'img/sistema/icon_medicina.ico' %}" alt="logo">
	</div>
	<span class="login100-form-title p-t-20 p-b-30">
		eClinical
	</span>
    <div class="text-center w-full p-b-200">
	  <h3 style="color: white">Revise su correo</h3>
	  <p style="color: black">Le hemos enviado por correo electrónico las instrucciones para configurar su contraseña. Debería recibir el correo electrónico en breve.</p>
	</div>
	<div class="text-center w-full" style="color: white;">
		Copyleft <span class="copyleft">&copy;</span> 2018 &nbsp;&#8226;&nbsp; eClinical
	</div>
</form>
<div>
</div>
{% endblock %}