{% extends 'base/general.html' %}
{% load staticfiles %}

{% block title %}Examenes de orina{% endblock %}

{% block styles %}
<!-- DataTables -->
<link rel="stylesheet" href="{% static 'css/dataTables.bootstrap.min.css' %}">
{% endblock %}

{% block header %}Gestión de Examenes de orina{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li><i class="fa fa-plus-circle"></i> &nbsp;  Examen Orina</li>
  <li class="active">  Examen orina</li>
</ol>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-xs-12">
    {% if messages %}
    {% for message in messages %}
    <p class="alert alert-dismissable {% if message.tags %}alert-{{ message.tags }}"{% endif %}>
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <i class="fa fa-check-circle"></i> &nbsp;&nbsp; {{ message }}
    </p>
    {% endfor %}
    {% endif %}

    <!-- Box Primary -->
    <div class="box box-primary">
      <div class="box-header">
        <div class="pull-right">
          <a href="{% url 'examenes:examen_orina_create' %}" class="btn btn-flat btn-primary"><i class="fa fa-plus"></i> &nbsp; Agregar examen de orina</a>
        </div>
        <h3 class="box-title">Examenes de orina</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <table id="tabla" class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Codigo</th>
              <th>Aspecto</th>
              <th>Color</th>
              <th>PH</th>
              <th>Nitritos</th>
              <th>Proteinas</th>
              <th>Glucosa</th>
              <th>Cuerpo cetonico</th>
              <th>Bilirubina</th>
              <th>sangre oculta</th>
              <th>leucocitos</th>
              <th>hematies</th>
              <th>Celulas epitelalias</th>
              <th>cilindros</th>
              <th>parasitos</th>
              <th>otros</th>
              <th>cristales</th>
            </tr>
          </thead>
          <tbody>
            {% for examen_orina in object_list %}
            <tr>
              <td>{{ examen_orina.cod }}</td>
              <td style="width: 200px;">
                <a href="{% url 'examenes:examen_orina_update' examen_orina.id %}">
                  <i class="fa fa-pencil" style="color: #ffbc07;"></i>&nbsp; Editar
                </a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="{% url 'examenes:examen_orina_delete' examen_orina.id %}">
                  <i class="fa fa-trash" style="color: #df0024;"></i>&nbsp; Eliminar
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
</div>
{% endblock %}

{% block scripts %}
<!-- DataTables -->
<script src="{% static 'js/jquery.dataTables.js' %}"></script>
<script src="{% static 'js/dataTables.bootstrap.min.js' %}"></script>
<script src="{% static 'js/tabla.js' %}"></script>
{% endblock %}