{% extends 'base/general.html' %}

{% block title %}Signos Vitales{% endblock %}

{% block header %}Registro{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li><i class="fa fa-plus-circle"></i> &nbsp; Expediente</li>
  <li><a href="{% url 'examenes:prueba_especial_list' %}">Gestión de pruebas especiales</a></li>
  <li class="active">Registro</li>
</ol>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-xs-12">
    <!-- Errores -->
    {% if form.errors %}
    <div class="alert alert-danger alert-dismissible">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4><i class="icon fa fa-ban"></i> Error en ingreso de datos</h4>
      {{ form.errors }}
    </div>
    {% endif %}
    
    <!-- Box Primary -->
    <div class="box box-primary">
      <div class="box-header">
        <h3 class="box-title">pruebes especiales</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <form method="post" autocomplete="off">
              {% csrf_token %}
              {{ form.as_p }}
              <div class="pull-right">
              	<a href="{% url 'examenes:prueba_especial_list' %}" class="btn btn-flat btn-default">Cancelar</a> &nbsp;&nbsp;
                <button type="submit" class="btn btn-flat btn-primary">Guardar</button>	
              </div>
            </form>	
          </div>
        </div>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
</div>
{% endblock %}